[submodule "blast"]
	path = blast
	url = https://github.com/ia3andy/quarkus-blast
[submodule "react-bootstrap"]
	path = react-bootstrap
	url = https://github.com/ia3andy/quarkus-bundler-react
[submodule "jquery"]
	path = jquery
	url = https://github.com/ia3andy/web-bundler-jquery
[submodule "gradle-jquery"]
	path = gradle-jquery
	url = https://github.com/ia3andy/bundler-gradle-jquery
[submodule "renotes"]
	path = renotes
	url = https://github.com/ia3andy/renotes/
[submodule "patternfly-react"]
	path = patternfly-react
	url = https://github.com/ia3andy/quarkus-wb-patternfly-react
[submodule "star-rating"]
	path = star-rating
	url = https://github.com/ia3andy/star-rating
[submodule "htmx-todo"]
	path = htmx-todo
	url = https://github.com/ia3andy/htmx-todo
